[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:hlissner/doom-emacs.git
[submodule ".doom.d"]
	path = .doom.d
	url = git@github.com:zedkaido/.doom.d.git
[submodule ".qutebrowser"]
	path = .qutebrowser
	url = git@github.com:zedkaido/.qutebrowser
[submodule "./config/alacritty"]
	path = ./config/alacritty
	url = git@github.com:zedkaido/.alacritty
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:zedkaido/.config/nvim
[submodule ".config/alacritty"]
	path = .config/alacritty
	url = git@github.com:zedkaido/.alacritty
